.fade-in
  opacity: 0
  transition: opacity 2s cubic-bezier(.18, .7, .34, .89) 1s
  will-change: opacity, transform

.section
  width: 100%
  min-height: 100vh
  position: relative
  overflow: visible
  top: 0
  left: 0

.content-container
  overflow-x: hidden
  overflow-y: hidden
  position: absolute
  background-color: white
  top: 0
  left: 0
  width: 100%
  box-shadow: -10px 0 15px -5px rgba(0, 45, 60, 0.7), 10px 0 15px -5px rgba(0, 45, 60, 0.7)

.content-container
  height: fit-content
  overflow-x: hidden
